<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Editar Cadastro</title>
</head>
<body>
<h2>Editar</h2>
  <form action="/api/update/<%= pi._id %>" method="POST">
    <input type="text" value="<%= pi.name %>" name="name">
    <input type="text" value="<%= pi.email %>" name="email">
    <br />
    <button><a href="/api/listall">List All</a></button>
    <button type="submit">Salvar</button>
  </form>
</body>
</html>